@import url('../../submit/gwt/chrome/chrome.css');

.bloki_div {
	width: auto;
	height: auto;
	position: fixed;
	bottom: 0px;
	right: 50px;
	padding-left: 17px;
	padding-top: 12px;
	padding-right: 17px;
	padding-bottom: 12px;
	background-image: url('bloki_background.png');
	background-repeat: repeat-x;
	background-position: 50% top;
	color: #FFF;
	font-family: arial, helvetica, sans-serif;
	text-align: left;
	font-size: 11pt;
}

.bloki_div:hover {
	padding-bottom: 15px;
}