@import url('../../submit/gwt/chrome/chrome.css');

.bloki_div {
	width: auto;
	height: auto;
	position: fixed;
	left: 0px;
	top: 100px;
	padding-left: 10px;
	padding-top: 13px;
	padding-right: 30px;
	padding-bottom: 13px;
	background-image: url('bloki_background.png');
	background-repeat: no-repeat;
	background-position: right 50%;
	color: #FFF;
	font-family: arial, helvetica, sans-serif;
	text-align: left;
	font-size: 11pt;
}

.bloki_div:hover {
	padding-left: 20px;
}